// Place all the styles related to the v1/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$darkest: #0B0A10;
$darker: #272729;
$base: #4B4A50;
$grey: #535257;
$lightgrey: #A8A6B0;
$orange: #D9690C;
$dullyellow: #E8AF5E;
$yellow: #E0FB22;
$red: #9C2C04;


// change bootstrap variables before import
$baseFontSize: 14px;
$textColor: $lightgrey;

// Variables.less
// Variables to customize the look and feel of Bootstrap
// Swatch: Slate
// Version: 2.0.4
// -----------------------------------------------------

// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #272B30;
$grayDark:              #3A3F44;
$gray:                  #52575C;
$grayLight:             #757C82;
$grayLighter:           #BBBFC2;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #02A1DD;
$blueDark:              #108CBB;
$green:                 #87CA4D;
$red:                   #9d261d;
$yellow:                #F6D30D;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Scaffolding
// -------------------------
$bodyBackground:        $grayDarker;
$textColor:             $grayLight;


// Links
// -------------------------
$linkColor:             $white;
$linkColorHover:        $white;


// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          13px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        18px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             darken($grayDark, 5%); // for striping
$tableBackgroundHover:              $grayDark; // for hover
$tableBorder:                       darken($grayDarker, 5%); // table and cell border


// Buttons
// -------------------------
$btnBackground:                     $white;
$btnBackgroundHighlight:            darken($white, 10%);
$btnBorder:                         darken($white, 20%);

$btnPrimaryBackground:              $grayLight;
$btnPrimaryBackgroundHighlight:     spin($btnPrimaryBackground, 15%);

$btnInfoBackground:                 #5bc0de;
$btnInfoBackgroundHighlight:        #2f96b4;

$btnSuccessBackground:              #62c462;
$btnSuccessBackgroundHighlight:     #51a351;

$btnWarningBackground:              lighten($orange, 15%);
$btnWarningBackgroundHighlight:     $orange;

$btnDangerBackground:               #ee5f5b;
$btnDangerBackgroundHighlight:      #bd362f;

$btnInverseBackground:              $gray;
$btnInverseBackgroundHighlight:     $grayDarker;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             3px;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         darken($grayDarker, 3%);

// Dropdowns
// -------------------------
$dropdownBackground:            $grayDark;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownLinkColor:             $grayLight;
$dropdownLinkColorHover:        $grayLighter;
$dropdownLinkBackgroundHover:   $grayDarker;
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         darken($grayDarker, 5%);



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000;
$zindexPopover:           1010;
$zindexTooltip:           1020;
$zindexFixedNavbar:       1030;
$zindexModalBackdrop:     1040;
$zindexModal:             1050;


// Sprite icons path
// -------------------------
$iconSpritePath:          "../img/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter;


// Navbar
// -------------------------
$navbarHeight:                    40px;
$navbarBackground:                $grayDarker;
$navbarBackgroundHighlight:       $grayDark;

$navbarText:                      $grayLight;
$navbarLinkColor:                 $grayLighter;
$navbarLinkColorHover:            $grayLighter;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       $grayDark;
$navbarLinkBackgroundActive:      $navbarBackground;

$navbarSearchBackground:          lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor:    #ccc;
$navbarBrandColor:                $grayLighter;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken($warningBackground, 3%);

$errorText:               #b94a48;
$errorBackground:         #f2dede;
$errorBorder:             darken($errorBackground, 3%);

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken($successBackground, 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken($infoBackground, 7%);



// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// Fluid grid
// -------------------------
$fluidGridColumnWidth:    6.382978723%;
$fluidGridGutterWidth:    2.127659574%;

@import "bootstrap";

  #app-header {
    width: 100%;
    height: 30px;
    
    #login-info {
      float: right;
      vertical-align: center;
    }
  }
  
  label, legend {
    color: $lightgrey;
  }
  
  #MbAppContainer {
    margin: 40px;
  }
  
  div.well {
      min-height: 300px;  
      background-color: $base;
      border-radius: 6px;
  }
  
  #MbLeftNav {
    width: 270px;
    float: left;  
  }
  
  #MbMain {
    margin-left: 300px;
  }
  
  .inline-heading {
    margin-bottom: 10px;
    h1, h2, h3, h4, h5, h6 {
      display: inline;
      vertical-align: middle;
    }
  }
  
  div.form-horizontal {
    width: 700px;
    
    button {
      text-align: right;
      margin-left: 10px;
    }
    
    .button-group {
      text-align: right;
      margin-right: 320px;
    }
    
    .data-label {
      padding-top: 5px;
      margin-left: 160px;
      text-align: left;
    }
  }