// Place all the styles related to the v1/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$darkest: #0B0A10;
$darker: #272729;
$base: #4B4A50;
$grey: #535257;
$lightgrey: #A8A6B0;
$orange: #D9690C;
$dullyellow: #E8AF5E;
$yellow: #E0FB22;
$red: #9C2C04;

// change bootstrap variables before import
@import "bootstrap";

#app-header {
  width: 100%;
  height: 30px;
}

#MbAppContainer {
  margin: 40px;
}

div.well {
    min-height: 300px;  
}

#MbLeftNav {
  width: 220px;
  float: left;  
  padding: 5px;
}

#MbMain {
  margin-left: 240px;
}

.inline-heading {
  margin-bottom: 10px;
  h1, h2, h3, h4, h5, h6 {
    display: inline;
    vertical-align: middle;
  }
}

div.form-horizontal {
  width: 700px;
  
  button {
    text-align: right;
    margin-left: 10px;
  }
  
  .button-group {
    text-align: right;
    margin-right: 320px;
  }
}
