// Place all the styles related to the v1/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline-heading {
  margin-bottom: 10px;
  h1, h2, h3, h4, h5, h6 {
    display: inline;
    vertical-align: middle;
  }
}
