// Place all the styles related to the v1/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  vertical-align: middle; 
  font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

#floater  {
  float:left; 
  height:50%; 
  margin-bottom:-120px;
}

#signin-container {
    clear:both; height:240px; position:relative;
    -moz-transform: scale(0.5, 0.5);
    -moz-transition: all 0.2s cubic-bezier(0, 0.35, .5, 1.3) 0s;
    -webkit-transition: all 0.4s cubic-bezier(0, 0.35, .5, 1.3) 0s;
    background: #333;
    background: -moz-linear-gradient(0% 0 -90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.95))) repeat scroll 0 0 transparent;
    //background: -o-linear-gradient(0% 0 -90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)) repeat scroll 0 0 transparent;
    border: 2px solid #999999;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 8px 0 #000000;
    min-height: 200px;
    opacity: 0;
    padding: 20px;
    margin-right: auto;
    margin-left:auto;
    text-align: left;
    width: 300px;
    z-index: 1000;
}

input[type="text"], input[type="password"] {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 250px;
    height: 30px;
    -moz-transition: all 0.25s ease-in-out 0s;
    //background: -moz-linear-gradient(0% 0 -90deg, #F1EEEE, #FFFFFF) repeat scroll 0 0 transparent;
    //background: -webkit-gradient(linear, left top, left bottom, from(#F1EEEE), to(#FFFFFF)) repeat scroll 0 0 transparent;
    background: none repeat scroll 0 0 #181819;
    border-color: #0D0E0E #0D0E0E #333436;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 5px black inset;
    //border: 1px solid #F6A349;
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    color: #EEEEEE;
    font-size: 16px;
    outline: medium none;
    padding: 2px;
}
input[type="text"]:focus, input[type="password"]:focus, {
    //background: -moz-linear-gradient(0% 0 -90deg, #EBF7FA, #FFFFFF) repeat scroll 0 0 transparent;
    //border: 2px solid #1CA7CC;
    //box-shadow: 0 0 5px #0B739B;
    outline: medium none;
}

#signin-container input[type="text"], #signin-container input[type="password"] {
    //background: -moz-linear-gradient(0% 0 -90deg, #333333, #484848) repeat scroll 0 0 #333333;
    //border: 1px solid #222325;
}
#signin-container input[type="text"]:focus, #signin-container input[type="password"]:focus {
    //background: -moz-linear-gradient(0% 0 -90deg, #2D393D, #3E4B4F) repeat scroll 0 0 #333333;
    //box-shadow: 0 0 5px #2D393D;
}

.input label {
    color: #484848;
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 15px;
}
input[type="checkbox"] {
    float: left;
    margin-right: 10px;
}

#signin-container.show {
    -moz-transform: scale(1, 1);
    opacity: 1;
}

#signin-container .input {
    border-bottom: 0 none;
    padding-bottom: 0;
    width: 300px;
}
#signin-container label {
    color: #FFFFFF;
    text-shadow: 0 1px 2px #000000;
}
input#remember {
    float: left;
    margin-right: 7px;
    margin-top: 16px;
}
#signin-container input[type="submit"] {
    float: right;
    margin-right: 0;
    margin-top: 12px;
}
#sign-in-button {
    float: left;
    width: 50px;
}