<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">
			Portfolios
			<button {{ action "shownew" target="controller" disabledBinding="controller.shownewform" class="btn"}}> Create </button>
		</li>
	  	{{#each portfolio in controller }}
   			<li {{bindAttr class="isSelected:active isDeleted:deleted"}} >
   				<a {{action showPortfolio context="portfolio" href=true}}>{{portfolio.name}}</a>
   			</li>
	 	{{/each}}
	</ul>
</div>