<div id='MbAppContainer'>
	<div id="MbForms">
	</div>
		<script type="text/x-handlebars">
			{{ view Mirrorball.TopNav }}
		</script>
	<div id='MbLeftNav'>	
		<script type="text/x-handlebars">
			{{ view Mirrorball.PortfoliosListView controllerBinding="Mirrorball.portfoliosController" }}
		</script>
	</div>
	<div id='MbMain'>
		<script type="text/x-handlebars">
			{{ view Mirrorball.PortfolioEditView controllerBinding="Mirrorball.selectedPortfolioController" }}
		</script>
	</div>	
	<div id='MbFooter'></div>
</div>

