<script type="text/javascript">
	Mirrorball.init();
</script>

<h1>Mirrorball Digital Asset Management</h1>
<div id='MbAppContainer'>
	<div id='MbTopNav'></div>
	<div id='MbLeftNav'>	
	</div>
	<div id='MbMain'></div>	
	<div id='MbFooter'></div>
</div>

