<div id='MbAppContainer'>
	<div id='MbLeftNav'>	
		<script type="text/x-handlebars">
			{{ view Luxin.PortfoliosListView controllerBinding="Luxin.portfoliosController" }}
		</script>
	</div>
	<div id='MbMain'>
		<script type="text/x-handlebars">
			{{ view Luxin.PortfolioEditView controllerBinding="Luxin.selectedPortfolioController" }}
		</script>
	</div>	
	<div id='MbFooter'></div>
</div>