<div class="inline-heading">
	<h3>Portfolios</h3>
	{{#view Ember.Button action="shownew" targetBinding="controller" 
	  disabledBinding="controller.shownewform" class="btn" }} Create {{/view}}
</div>
<ul>
  {{#each Mirrorball.portfoliosController}}
    <li>{{name}}</li>
  {{/each}}
</ul>