<div class="form-horizontal">
	<fieldset>
    	<legend>Create New Portfolio</legend>
    	{{ view Mirrorball.Message viewName="portfolioFormMessage" classBinding="type messageType" }}
    	<div class="control-group">
    		<label class="control-label">Portfolio Name</label>
    		<div class="controls">
   				{{ view Ember.TextField viewName="pNameTextField" disabledBinding="Mirrorball.PortfolioNewView.isDisabled" }}
    		</div>
    	</div>
    	<div class="control-group">
    		<label class="control-label">Description</label>
    		<div class="controls">
   				{{ view Ember.TextArea viewName="pDescriptionTextArea" disabledBinding="Mirrorball.PortfolioNewView.isDisabled" }}
    		</div>
    	</div>
    	<div class="control-group button-group">
    		{{#view Ember.Button action="create" target="parentView" 
				disabledBinding="Mirrorball.PortfolioNewView.isDisabled" class="btn btn-success" }} Create {{/view}}
			{{#view Ember.Button action="cancel" target="parentView" 
				disabledBinding="Mirrorball.PortfolioNewView.isDisabled" class="btn btn-danger" }} Cancel {{/view}}
    	</div>
    </fieldset>
</div>