<div id='MbNewPortForm'>
	{{ view Ember.TextField viewName="portfolioTextField" disabledBinding="Mirrorball.PortNewForm.isDisabled" }}
	{{#view Ember.Button action="create" targetBinding="Mirrorball.PortNewForm" 
		disabledBinding="Mirrorball.PortNewForm.isDisabled" }} Create {{/view}}
	{{#view Ember.Button action="cancel" targetBinding="Mirrorball.PortNewForm" 
		disabledBinding="Mirrorball.PortNewForm.isDisabled" }} Cancel {{/view}}
</div>