<div id='MbNewPortForm'>
	{{ view Ember.TextField viewName="portfolioName" }}
	<button type="submit" {{ action "submit" }} >Create Portfolio</button>
	<button type="submit" {{ action "cancel" }} >Cancel</button>
</div>